@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Chonburi&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer components {
    .line-effect {
        @apply relative font-extralight text-black cursor-pointer text-xl w-fit md:block after:block after:content-['']
        after:absolute after:h-[3px] after:bg-[#31363fb2] after:w-full after:scale-x-0 after:hover:scale-x-100
        after:transition after:duration-200 after:origin-center hidden
    }
}